body{
    background-color: bisque;
} 
input{
    padding: 20px;
    margin: 22px;
    border-radius: 36px;
    width: 39em;
  
 
}
.background{

     background-color: rgb(161, 161, 161); 
      text-align: center;  
}
button{
    width: 12em;
    height: 70px;
}